.cards-item {
  text-decoration: none;
  color: #000;
}

.cards-item .wrapper-card-product {
  width: 255px;
  margin-top: 40px;
}

.cards-item .wrapper-card-product .card-product-img img {
  width: 100%;
  grid-template: 318px;
  margin-bottom: 10px;
}

.cards-item .wrapper-card-product .card-product-name, .cards-item .wrapper-card-product .card-product-price {
  font-family: 'Spartan';
  font-size: 14px;
  opacity: 60%;
  display: block;
}

.cards-item .wrapper-card-product .card-product-price {
  font-weight: bold;
  opacity: 100%;
}

.cards-item .wrapper-card-product .wrapper-card-product-price-starts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
} 