.container-header-nav-menu {
  width: 100%;
}

.container-header-nav-menu .header-nav-menu {
  width: 87%;
  height: 66px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-header-nav-menu .header-nav-menu .header-nav-logo {
  font-family: 'Playfair Display SC';
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

.container-header-nav-menu .header-nav-menu .menu, .container-header-nav-menu .header-nav-menu .menu-nav {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
}

.container-header-nav-menu .header-nav-menu .menu .menu-item, .container-header-nav-menu .header-nav-menu .menu-nav .menu-item {
  text-decoration: none;
  color: #000;
  font-family: 'Spartan';
  font-size: 14px;
}

@media screen and (max-width: 940px) {
  .container-header-nav-menu .header-nav-menu .menu {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .container-header-nav-menu .header-nav-menu .menu {
    width: 460px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container-header-nav-menu .header-nav-menu .menu-nav {
  width: 172px;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .container-header-nav-menu .header-nav-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 540px) {
  .container-header-nav-menu .header-nav-menu {
    height: calc(100px + (66 - 100) * ((100vw - 320px) / (1300 - 320)));
  }
}

.container-header-nav-menu .mobile__navigation {
  display: none;
}

@media (max-width: 907px) {
  .container-header-nav-menu .default__navigation {
    display: none;
  }
  .container-header-nav-menu .mobile__navigation {
    display: flex;
    align-items: center;
    
  }

  .container-header-nav-menu .mobile__navigation .mobile__hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .container-header-nav-menu ul span {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: #12121266;
  }
}