/* @media screen and (max-width: 996px) {
    .wrapper-header-nav-menu .burger-menu .burger-menu .menu-item, .wrapper-header-nav-menu .header-nav-menu .burger-menu .menu-item, .wrapper-header-nav-menu .menu-nav .burger-menu .menu-item {
        font-size: 16px;
        font-weight: 700;
        margin: 25px 0;
} */

.wrapper-header-nav-menu .burger-menu .burger-menu .menu-item, .wrapper-header-nav-menu .header-nav-menu .burger-menu .menu-item, .wrapper-header-nav-menu .menu-nav .burger-menu .menu-item {
    color: #000;
    font-family: Spartan;
    font-size: 14px;
    text-decoration: none;
}