.products-page {
  width: 100%;
  margin: 0 auto;
  font-family: 'Spartan';
  font-size: 11px;
}

.products-page .wrapper-products-page-nav {
  background: #F8F8F8;
}

.products-page .wrapper-products-page-nav .products-page-nav {
  width: 89%;
  height: 32px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-page .wrapper-products-page-nav .products-page-nav .products-page-nav_page span {
  opacity: 60%;
}

.products-page .wrapper-products-page-nav .products-page-nav .products-page-nav_share {
  width: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-page .wrapper-products-page_title {
  background: #F8F8F8;
}

.products-page .wrapper-products-page_title .products-page_title {
  width: 89%;
  height: 70px;
  font-size: 26px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.products-page .products-page_filters {
  width: 89%;
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-page .products-page_filters .products-page_filter, .products-page .products-page_filters .products-page_view {
  width: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 60%;
  font-size: 13px;
  letter-spacing: 1px;
}

.products-page .products-page_filters .products-page_view {
  width: 72px;
}

.products-page .products-page_filters .products-page_view button {
  background: none;
  border: none;
}

.products-page .products-page_filters .products-page_select select {
  border: none;
  opacity: 60%;
  font-size: 13px;
  letter-spacing: 1px;
}

.products-page .products-page_card-product {
  width: 89%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-page .products-page_loading {
  text-align: center;
  padding: 30px;
} 